{% extends "base.html" %}

{% block title %}Casino: Roulette{% endblock %}

{% block content %}

    <h2>Roulette Placeholder</h2>
    <p>2x</p>
    <p>3x</p>
    <p>5x</p>
    <p>10x</p>
    <p>20x</p>
    <p>BAL: {{ balance }} </p>
    <form method="post" action="" style="border-style: dotted;">
        {% csrf_token %}
        <label for="quantity">How much are you willing to bet??</label>
        <input type="number" name="quantity" value={{ last_bet }} min="1" required><br>
        <label>
            <input type="radio" name="choice" value="0" required {% if last_choice == 0%}checked{% endif %}> Heads
        </label><br>
        <label>
            <input type="radio" name="choice" value="1" required {% if last_choice == 1%}checked{% endif %}> Tails
        </label><br><br>
        <button id="coinflip" type="submit">GAMBLE</button>
    </form>
    {% if result != None %}
        {% if result == 1 %}
            U WINNER (+${{ last_bet }})
        {% elif result == 0 %}
            U LOSER
        {% else %}
            U TOO BROKE
        {% endif %}
    {% endif %}
    {% if error != None %}
       <p>{{ error }}</p>
    {% endif %}

{% endblock %}