<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome to LE CASINO - NEVER stop gambling!">
    <meta name="keywords" content="casino, gambling, roulette, slots, games">
    <title>Welcome to the Casino!</title>
    <style>
        .side_box {
            position: absolute;
            right: 0px;
        }
        input[type=number].no-spinner::-webkit-inner-spin-button,
        input[type=number].no-spinner::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
        input[type=number].no-spinner {
        -moz-appearance: textfield;
        }
    </style>
</head>
<body>
<main><!-- djlint:off -->
    <p style="text-align: center; font-size: 60px; font-family: sans-serif;">
    LE CASINO
    </p>
    <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}" style="border-style: solid;"><!-- djlint:on -->
        {% csrf_token %}
        <div class="box">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required></br>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required></br>
            <button type="submit">Login</button>
        </div>
    </form>
    {% if error != None %}<!-- djlint:off -->
        <h3 style="color:red">{{ error }}</h3>
    {% endif %}<!-- djlint:on -->

    <form class="side_box" method="post" action="#">
        {% csrf_token %}<!-- djlint:off -->
        <div style="border-style: solid;"><!-- djlint:on -->
            <h3>Write the secret PIN to join us</h3>
            <input name="pin" class="no-spinner" type="number" placeholder="Enter PIN" min="1000" max="9999" />
            <button id="submit_pin" type="submit">Submit</button><!-- djlint:off -->
            <p id="error_msg" style="color:red; display:none;">Wrong PIN</p><!-- djlint:on -->
        </div>
    </form>

    {% comment %} <div class="side_box">
        <h3>Write the secret PIN to join us</h3>
        <input class="no-spinner" type="number" id="pin_input" placeholder="Enter PIN" min="1000" max="9999" />
        <button id="submit_pin">Submit</button>
        <p id="error_msg" style="color:red; display:none;">Wrong PIN</p>
    </div> {% endcomment %}

    {% comment %} <script>
        let attempts = 0;
        const max_attempts = 3;
        const redirect = "http://localhost:8000/";
        document.getElementById("submit_pin").addEventListener("click", function() {
            const pin_inpit = document.getElementById("pin_input");
            const error_msg = document.getElementById("error_msg");
            attempts++;
            if (attempts >= max_attempts) {
                window.location.href = redirect;
                error_msg.style.display = "none";
                pin_input.value = "";
                attempts = 0;
                return;
            }
            error_msg.style.display = "block";
            pin_input.value = "";
        });
    </script> {% endcomment %}

</main>
</body>
</html>