<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join the Casino!</title>
</head>
<body>
<main>
    <h1>JOIN LE CASINO</h1>
    <!-- djlint:off -->
    <form method="post" action="{% url 'register' %}?next={{ request.GET.next }}" style="border-style: double;"><!-- djlint:on -->
        {% csrf_token %}
        <div class="box">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required></br>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required></br>
            <label for="password_rep"><b>Password again</b></label>
            <input type="password" placeholder="Repeat Password" name="password_rep" required></br>
            <button type="submit">Register</button>
        </div>
    </form>

    {% if error != None %}<!-- djlint:off -->
        <h3 style="color:red">{{ error }}</h3>
    {% endif %}<!-- djlint:on -->


{#    <script>#}
{#        let attempts = 0;#}
{#        const max_attempts = 3;#}
{#        const redirect = "#";#}
{#        document.getElementById("submit_pin").addEventListener("click", function () {#}
{#            let error_msg = document.getElementById("error_msg")#}
{#            attempts++;#}
{#            if (attempts >= max_attempts) {#}
{#                window.location.href = redirect;#}
{#            } else {#}
{#                error_msg.style.display = "block";#}
{#            }#}
{#            document.getElementById("pin_input").value = "";#}
{#        });#}
{#    </script>#}

</main>
</body>
</html>