{% extends "base.html" %}

{% block title %}Brokie{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <p style="color: red;">{{ message }}</p>
        {% else %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}
    {% endfor %}
{% endif %}

<form method="POST" action="{% url 'magic_money_button' %}">
    {% csrf_token %}
    <button type="submit">Money +$100</button>
</form>

{% endblock %}